header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  opacity: 0.1;
}
.ant-modal-body p {
  font-weight: 900;
  text-align: center;
}
.barbckg {
  display: flex;
  flex-direction: row;
  margin-top: -1%;
  background-color: rgb(25, 25, 25);
  z-index: 1;
  position: fixed;
  align-content: center;
  max-width: 100%;
  height: 7%;
  width: 100%;
}
.bar {
  border-radius: 5px;
  z-index: 2;
  position: fixed;
  align-content: center;
  margin-left: 20%;
  margin-top: 12px;
  max-width: 800px;
  height: 5%;
  width: 100%;
  transform-origin: center center;
}

.btn-circle {
  transform: translate(85em, 0.5em);
}
.button1 {
  width: 100px;
  height: 35px;
  border-radius: 15px 0px 0px 15px;
  background-color: #39c643;
  margin-left: 40%;
  margin-bottom: 4%;
  padding: 1px;
  box-sizing: none;
  outline: none;
}
.ant-modal-title {
  font-weight: 900;
}
.button2 {
  width: 100px;
  height: 35px;
  background-color: #ff9800;
  margin-left: 40%;
  margin-bottom: 4%;
  padding: 1px;
  box-sizing: none;
  outline: none;
}
.button3 {
  width: 100px;
  height: 35px;
  border-radius: 0px 15px 15px 0px;
  background-color: #ff0000;
  margin-left: 40%;
  margin-bottom: 4%;
  padding: 1px;
  box-sizing: none;
  outline: none;
}

.logout {
  background-color: transparent;
  border: none;
  font-size: 14px;
  padding-left: 0;
  outline: none;
}
@media all and (max-width: 500px) {
  .bar {
    border-radius: 5px;
    background-color: rgb(25, 25, 25);
    z-index: 2;
    position: fixed;
    align-content: center;
    margin-left: 20%;
    margin-top: 15px;
    max-width: 200px;
    height: 5%;
    width: 100%;
    transform-origin: center center;
  }
  .barbckg {
    display: flex;
    background-color: rgb(25, 25, 25);
    z-index: 1;
    position: fixed;
    max-width: 380px;
    height: 7%;
    width: 100%;
    transform-origin: center center;
  }
  .btn-circle {
    transform: translate(20em, 0.5em);
  }
}
